.c1{
    background-color: aquamarine;
}
.c2{
    background-color: burlywood;
}
.c3{
    background-color: thistle;
}
.c4{
    background-color:slategray;
}
.c5{
    background-color: rosybrown;
}
.col1{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.row1{
    box-shadow: rgba(149, 157, 165, 0.2) 5px 5px 5px ;
}
.dr{
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.mc{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.areacard{
    width: 1200px;
    margin-left: 325px;
}
.botão3{
    background-color: #2ED0C0;
    color: whitesmoke;
    width: 124px;
    border: none;
}
.botão4{
    width: 90px;
    background-color: #e6fffc;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 2px 2px 2px ;
    border: none;
    font-size: 10pt;
}
.row6{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.meio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ml-2{
    margin-left: 50px;
    margin-right: 20px;
}
.card1{
    width: 250px !important;
    border-radius: 25px;
    height: 300px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
}
.imgcard{
    height: 70px;
    width: 70px;
    border-radius: 50px;
}